/* TAILWIND IMPORTS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT FACES */

@font-face {
    font-family: "basis-grotesque-bold";
    src: url("./src/assets/fonts/BasisGrotesqueArabicPro-Bold.ttf");
}

@font-face {
    font-family: "basis-grotesque-regular";
    src: url("./src/assets/fonts/BasisGrotesqueArabicPro-Regular.ttf");
}

@font-face {
    font-family: "basis-grotesque-light";
    src: url("./src/assets/fonts/BasisGrotesqueArabicPro-Light.ttf");
}

@font-face {
    font-family: "basis-grotesque-black";
    src: url("./src/assets/fonts/BasisGrotesqueArabicPro-Black.ttf");
}

/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    /* background-color: #131516; */
}

/* TAGS */

a {
    color: #000;
    text-decoration: none;
}

body {
    /* This will apply to all screen sizes */
    overflow-x: auto;
}

@media screen and (max-width: 1800px) {
    body {
        /* This will apply when the screen's width is 600px or less */
        width: 1800px;
    }
}

li {
    list-style-type: none;
}

/* CLASSES */

/* HEADER STYLES */
.root {
    min-width: 100%;
}

.auth.button {
    background-color: #f9a03f;
    /* Orange */
    border: none;
    color: #fbe8a6;
    /* Yellow */
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.auth.button:hover {
    transform: scale(0.95);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(59, 46, 90);
    width: 100%;
    z-index: 1000;
    flex-wrap: nowrap;
}

.logo {
    width: 100px;
    scale: 1.25;
}

.nav-options {
    display: flex;
    margin-right: 10px;
    flex-wrap: nowrap;
}

.nav-options>li {
    border: 5px solid rgb(59, 46, 90);
    color: rgb(175, 164, 219);
    font-size: 25px;
    list-style-type: none;
    padding: 0 30px;
}

.nav-options>li>a {
    color: rgb(175, 164, 219);
    font-size: 25px;
    list-style-type: none;
    text-decoration: none;
}

.nav-options>li:hover {
    scale: 0.95;
    border-bottom: 1px solid rgb(175, 164, 219);
    cursor: pointer;
}

/* HOMEPAGE STYLES */

.restaurants {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    padding: 55px 12%;
}

.restaurantsCard {
    margin-bottom: 45px;
    max-width: 350px;
    padding: 25px;
    border-radius: 15px;
}

.restaurantsCard>h2 {
    margin-top: 20px;
}

.restaurantsCard:hover {
    scale: 0.95;
    cursor: pointer;
}

.restaurantsCard>img {
    width: 350px;
    height: 233px;
    border-radius: 15px;
}

.searchBox {
    border-radius: 15px;
    /* min-height: 50px; */
    min-width: 800px;
    padding: 18px;
    margin: 0 15px;
}

.searchDivBtn {
    padding: 10px 15px;
    margin: 2px;
    border-radius: 15px;
    background-color: white;
}

.searchDivBtn:hover {
    background-color: red;
}

.searchDivBtn.searchDivBtn:focus {
    background-color: greenyellow;
}

.searchDivBtn.searchDivBtn:after {
    background-color: white;
}

.searchOptions {
    padding: 15px 0;
}

.shimmer>.card {
    max-width: 350px;
    padding: 25px;
    border-radius: 15px;
}

.shimmer>.card>.img {
    width: 350px;
    height: 233px;
    background-color: #f0f0f0;
    border-radius: 15px;
}

.shimmer>.card>.name {
    margin-top: 10px;
    width: 100px;
    height: 28px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.shimmer>.card>.stats {
    width: 250px;
    height: 60px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    max-width: 350px;
    flex-wrap: nowrap;
}

/* RESTAURNT SUMMARY CSS */

.restaurantSummaryWrapper {
    width: 100vw;
}

.restaurantSummary {
    margin: auto;
    width: 50%;
    padding: 10px;
    font-family: basis-grotesque-regular;
    font-size: large;
}

.restaurantSummary>div {
    margin-top: 1rem;
}

.restaurantSummary>h1 {
    margin-top: 4rem;
    font-family: basis-grotesque-black;
    margin-left: 5px;
}

/* BREADCRUMB */

.breadCrumb {
    margin-top: 0;
}

/* RESTAURANT SUMMARY HEADER CSS */

.restaurnatSummaryHeaderWrapper {
    padding: 20px;
    border-radius: 40px;
    background: rgb(227, 227, 227);
    background: linear-gradient(0deg,
            rgba(227, 227, 227, 1) 0%,
            rgba(255, 255, 255, 1) 100%,
            rgba(255, 255, 255, 1) 100%);
    max-width: 85%;
}

.restaurantSummaryHeader {
    font-family: basis-grotesque-bold;
    background: white;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 25px;
    padding: 20px;
}

.restaurantSummaryHeader>div {
    margin-bottom: 10px;
}

.ratingsAndAvgCost {
    display: flex;
    align-items: flex-start;
    font-size: larger;
    margin-bottom: 5px;
    flex-wrap: nowrap;
}

.tierSvgIcon {
    margin-right: 5px;
}

.ratingsAndCostSeperator {
    justify-self: center;
    opacity: 50%;
    padding: 0 10px;
}

.restaurantCuisines {
    display: flex;
    margin-left: 5px;
    flex-wrap: nowrap;
}

.restaurantCuisines>a {
    margin-left: 5px;
    font-size: medium;
    text-decoration: underline;
    color: orangered;
}

.outletLocationAndAvgDeliveryTime {
    display: flex;
    margin-left: 10px;
    flex-wrap: nowrap;
}

.divGraphic {
    margin: auto 0;
}

.graphicCircle {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: rgb(196, 196, 196);
}

.graphicLine {
    height: 30px;
    width: 1px;
    margin: auto;
    background: rgb(196, 196, 196);
}

.outletInfo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex-wrap: nowrap;
    /* font-size: medium; */
}

.outletInfo>div>span {
    opacity: 80%;
    margin-left: 10px;
    font-family: basis-grotesque-light;
}

.outletLocation {
    margin-bottom: 10px;
}

.avgDeliveryTime {
    margin-top: 5px;
}

.restaurantSummaryHeader>hr {
    margin: 20px 0;
    transform: scaleX(1.051);
    opacity: 20%;
}

.deliverySummary {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.deliverySummary>img {
    height: 25px;
    margin-right: 5px;
}

/* DEALS CAROUSEL CSS */
.dealsCarousel {}

.carouselHeader {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 90%;
}

.offerDetails>h2 {
    font-family: basis-grotesque-black;
    font-size: large;
}

.offerDetails>h3 {
    font-family: basis-grotesque-bold;
    font-size: medium;
    color: grey;
}

.navButtons>button {
    border-radius: 50%;
    background-color: rgb(227, 227, 227);
    border: 0px;
    cursor: pointer;
    margin: 0 5px;
}

button>.arrow {
    padding: 15px;
    height: 16px;
}

.prevButton>img {
    transform: rotate(180deg);
}

.carousel {
    display: flex;
    overflow: hidden;
    max-width: 80%;
    margin-top: 15px;
    scroll-behavior: smooth;
}

.carouselCard {
    display: flex;
    border: 1px solid rgb(221, 221, 221);
    flex-shrink: 0;
    margin-left: 16px;
    padding: 20px;
    padding-right: 60px;
    border-radius: 15px;
}

.offerDetails {
    display: flex;
    width: 100%;
    column-gap: 2px;
    flex-direction: column;
    margin-left: 12px;
}

/* RESTAURANT MENU */



/* RESTAURANT MENU HEADER */

.restaurantMenuHeading {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px !important;
}

.foodPreferenceToggleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkboxToggle {
    background-color: #d2d2d2;
    width: 50px;
    height: 8px;
    border-radius: 60px;
    cursor: pointer;
    position: relative;
}

.menuCategory {
    margin: 50px auto;
}

.menuCategory > h2 {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    margin: auto;
}

.menuItem {
    padding-top: 50px;
}

.menuItem > *{
    margin-bottom: 5px;
}

.menuItem > span {
    font-size: 20px;
    display: flex;
}

.menuItem > hr{
    margin-top: 30px;
}

.aboutDevImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* NETWORK ERROR COMPONENT */
.networkErrorComponent{
    font-family: "basis-grotesque-bold";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

.errorData{
    font-family: "basis-grotesque-bold";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    text-align: center;
}

.errorData > * {
    margin-top: 10px;
}

.errorData > button {
    padding: 10px 20px;
    font-family: "basis-grotesque-bold";
    margin-top: 50px;
    font-size: 20px;
    border-radius: 20px;
    background-color: white;
}

.errorData > button:hover{
    background-color:red;
}


/* IDs */