*{
    margin: 0;
    padding: 0;
    /* background-color: #131516; */
}

/* TAGS */


/* CLASSES */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 42, 54);
}

.logo{
    width: 100px;
}

.nav-options {
    display: flex;
}

.nav-options > li{
    color: white;
    font-size: 25px;
    list-style-type: none;
    padding: 0 30px;
}

.nav-options > li:hover{
    border-bottom: 1px solid white;
    cursor: pointer;
}

.searchBox{
    border-radius: 15px;
    /* min-height: 50px; */
    min-width: 800px;
    padding: 18px;
    margin: 0 15px;
}

.searchDivBtn{
    padding: 10px 15px;
    margin: 2px;
    border-radius: 15px;
    background-color: white;
}

.searchDivBtn:hover{
    background-color: red;
}

.searchDivBtn.searchDivBtn:focus{
    background-color: greenyellow;
}

.searchDivBtn.searchDivBtn:after{
    background-color: white;
}

.searchOptions{
    padding: 15px 0;
}

/* IDs */